.bg-image {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.7);
    z-index: -1; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
}

.heading h1{
    font-weight: 800;
    font-size: 48px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:  650px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
}

.left-corner{
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
    border-radius: 50px ;
    padding-left: 30px;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.where-search{
    width: 100%;
}

.where-search input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 95%;
}

.splitter{
    height: 70%;
    border: 1px solid #d9d9d9;
}

.right-corner{
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
    border-radius: 50px ;
    padding-left: 30px;
    width: 50%;
    height: 100%;
}

.when-search{
    width: 80%;
    /* background-color: blueviolet; */
}

.when-search input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    
}

.when-search input:active{
    border: none;
}

.search-icon{
    display: flex;
    align-items: center;
    margin: auto;
    cursor: pointer;
}


.whybook-container{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.whybook-content{
    width: 97vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.whybook-common{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.whybook-common span{
    height: 40px;
}

.banner-container{
    height: 250px;
    background-color: rgb(234, 251, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    width: 300px;
    line-height: 35px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-title{
    text-align: center;
    margin-bottom: 5px;
}

.banner-title h3{
    font-size: 36px;
}

.banner-content{
    text-align: center;
}