@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/homepage.css" media="all">
    
}

<div class="bg-image">
    <div class="content">
        <div class="heading">
            <h1>Do more with TravelTrax</h1>
        </div>
        <div class="para">
            <p>On site, 30,000+ travels experiences you'll remember</p>
        </div>
        <div class="search">
            <div class="left-corner">
                <div class="where-search">
                    <p style="color: black;font-size:14px; line-height:25px;font-weight: 500;">Where to?</p>
                    <input type="text" placeholder="Search for a place or activity">
                </div>
            </div>
            <div class="splitter"></div>
            <div class="right-corner">
                <div class="when-search">
                    <p style="color: black;font-size:14px; line-height:25px; font-weight: 500;">When?</p>
                    <input type="text" name="" id="" placeholder="Select Dates">
                </div>
                <div class="search-icon">
                    <img src="~/assets/searchicon.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whybook-container">
    <div class="whybook-title">
        <h2>Why book with TravelTrax?</h2>
    </div>
    <div class="whybook-content">
        <div class="freecancel whybook-common">
            <span><img src="~/assets/advantagebanner.svg" alt=""></span>
            <h3>Free Cancellation</h3>
            <p>Stay flexible on your trip.</p>
        </div>
        <div class="experience whybook-common">
            <span><img src="~/assets/experince.svg" alt=""></span>
            <h3>300,000+ experiences</h3>
            <p>Make memories around the world. <br></p>
        </div>
        <div class="reservenow whybook-common">
            <span><img src="~/assets/reservenow.svg" alt=""></span>
            <h3>Reserve now, pay later</h3>
            <p>Book your spot.</p>
        </div>
        <div class="trustedreviews whybook-common">
            <span><img src="~/assets/reviews.svg" alt=""></span>
            <h3>Trusted reviews</h3>
            <p>4.3 stars from 140,000+ Trustpilot reviews.</p>
        </div>
    </div>
</div>

<div class="banner-container">
    <div class="banner">
        <div class="banner-title">
            <h3>Keep things flexible</h3>
        </div>
        <div class="banner-content">
            <p>Use Reserve Now & Pay Later to secure the activities you don't want to miss without being locked in.</p>
        </div>
    </div>
</div>