/* _content/TravelTrax/Views/Shared/_Layout.cshtml.rz.scp.css */
*[b-fhr2swrlj4]{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body[b-fhr2swrlj4]{
    background-color: black;
}

.logo img[b-fhr2swrlj4]{
    width: 100px;
}
